a { color: currentcolor; }

html, body, #app { height: 100dvh; }

body  { z-index: 1; }
#logo { z-index: 2; }

#app {
  padding         : 1rem;
  display         : flex;
  flex-flow       : column nowrap;
  align-items     : center;
  justify-content : space-between;
  transition      : background-color 0.25s, color 0.25s;

  > header { font-weight: 700; }
  > main   { padding: 2rem; }
  > footer { letter-spacing: 2px; }

  > * {
    display         : flex;
  }
  
  > header, 
  > footer {
    
    align-items     : center;
    align-self      : center; 
    justify-content : space-between;
    text-transform  : uppercase;
  }
}

nav {
   display: flex;
   gap: 1.25rem;
}
#logo {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   max-width: 480px;
   
   .name { font-size: 5rem; font-weight: 900; }
   .sub  { font-size: 1rem; font-style: italic; opacity: 0.50; display: none; }
}

#defs, script { display: none!important; }


/*
nav {
   display: flex;
   gap: 1.25rem;
}
#welcome {
   padding: 2rem;
}
#logo {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   max-width: 480px;
   
   .name { font-size: 5rem; font-weight: 900; }
   .sub  { font-size: 1rem; font-style: italic; opacity: 0.50; display: none; }
}
*/
