/* colors */

.Dock            { background-color: var(--bg-d-3); }
aufbau-index > * { background-color: var(--bg-d-1); }

/* spacings */

#app        { padding: 0.75rem; }
.Dock       { padding: 0.75rem; }
aufbau-item { padding: 0.75rem; }


#app-main { flex: 1; overflow-y: auto; }
.Dock { flex-shrink: 0; }



.Dock {
  background-color: var(--mix-900);
  display: flex;
  flex-direction: row;
}


aufbau-item .art {
  display: grid;
  align-items: center;
  justify-content: center;

  aufbau-icon {
    font-size: 2rem;
    opacity: 0.25;
  }
}

.Brand {}

.ActionMenu {}
.ContextMenu {
}
.NavMenu {}

.Modal {}
.Panel {}
.Toast {}
.View {}

.Button {}
.Icon {}

.videoplayer {
  position: relative;
  
  .stage {
    z-index: 1;
  }

  .controls {
    background: var(--bg);
    display: flex; flex-flow: column;
    z-index: 2;

    > * { display: flex; flex-flow: row; gap: 1rem; }
  }
}

/* */

.col, .flow-y  { display: flex; flex-direction: column; }
.row, .flow-x  { display: flex; flex-direction: row; }
.sticky-bottom { position: sticky; bottom: 0; }
.sticky-top    { position: sticky; top:    0; }
.sticky-left   { position: sticky; left:   0; }
.sticky-right  { position: sticky; right:  0; }
