/*
neue apps.css file.
wird erst nach dem struktur-refactoring ausgearbeitet.
*/

.Dock {
  background-color: var(--bgd-10);
  display: flex;
  flex-direction: row;

  position: sticky: bottom: 0;
}

.Brand {}

.ActionMenu {}
.ContextMenu {}
.NavMenu {}

.Modal {}
.Panel {}
.Toast {}
.View {}

.Button {}
.Icon {}
