/* shared/css/typo.css */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --font      : "JetBrains Mono", monospace;
  --font-code : 'Fira Code', 'Cascadia Code', "JetBrains Mono", monospace;
  --fontSize  : 12px;
}

* { font-family: var(--font); }

html, body { font-size: var(--fontSize); }
