/* shared/css/typo.css */

:root {
  --font      : "Manrope";
  --font-code : 'Fira Code', 'Cascadia Code', "JetBrains Mono", monospace;
  --fontSize  : 12px;
}

* { font-family: var(--font); }

html, body { font-size: var(--fontSize); }
