/* @aufbau/css/functions/misc.css */

/* the negative of a value */
@function --negate(--value type(<length-percentage> | <number>)) {
  result: calc(-1 * var(--value));
}

/* light-dark() for any value, not only colors
   found here: https://www.bram.us/2025/09/30/css-custom-light-dark/ */
@function --light-dark(--l, --d) { result: if(color-scheme(dark): var(--d); else: var(--l)); }
@function         --ld(--L, --D) { result: if(color-scheme(dark): var(--D); else: var(--L)); }
